.smile1 {
    background-image: url("../img/glad-icon.png");
    width: 128px;
    height: 128px;
}

.smile2 {
    background-image: url("../img/nervous-icon.png");
    width: 128px;
    height: 128px;
}


